$def with (dataDict)
<div class="login">
  <div class="login-screen">
    <div class="login-icon">
      <img src="static/images/login/icon.png" alt="Welcome to Mail App" />
      <h4>Welcome to <small>TenhouGame</small></h4>
    </div>

    <form class="login-form" action="/login" method="post">
      <div class="form-group $dataDict['info']">
        <input type="text" class="form-control" value="$dataDict['username']" placeholder="天凤ID" id="login-name" name="username"/>
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="form-group $dataDict['info']">
        <input type="password" class="form-control" value="" placeholder="密码" id="login-pass" name="password"/>
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <button class="btn btn-primary btn-lg btn-block">登陆</button>
    </div>
  </form>
</div>